reflow_plate_fw/.pio
reflow_plate_fw/.vscode/.browse.c_cpp.db*
reflow_plate_fw/.vscode/c_cpp_properties.json
reflow_plate_fw/.vscode/launch.json
reflow_plate_fw/.vscode/ipch

code/build
code/.cache
code/.vscode/*
!code/.vscode/c_cpp_properties.json
